/* @settings

name: 📦 Ning 
id: ning-editor
settings:
    -   id: ning-theme-light
        title: Light Theme
        description: Select your preferred light mode flavor
        type: class-select
        allowEmpty: false
        default: theme-love-light
        options:
        -
            label: Love
            value: theme-love-light
        -
            label: Primary
            value: theme-primary-light
        -
            label: Flexoki
            value: theme-flexoki-light
    -   id: ning-theme-dark
        title: Dark Theme
        description: Select your preferred dark mode flavor
        type: class-select
        allowEmpty: false
        default: theme-gruvbox-dark
        options:
        -
            label: Love
            value: theme-love-dark
        -
            label: Gruvbox
            value: theme-gruvbox-dark
        -
            label: Solarized Osaka
            value: theme-solarized-dark
        -
            label: Flexoki
            value: theme-flexoki-dark
        -
            label: Blue Topaz
            value: theme-bluetopaz-dark


    -   id: workspace-setting
        title: Workspace
        type: heading
        level: 2
        collapsed: true
	-
		id: layout-style
		title: Layout style
		type: class-select
		allowEmpty: false
		default: layout-cupertino
		options:
			-
				label: Minimal
				value: layout-minimal
			-
				label: Cards
				value: layout-cards
			-
				label: Border
				value: layout-border
			-
				label: Frame
				value: layout-frame
			-
				label: Cupertino
				value: layout-cupertino

    -
        id: heading-options
        title: Heading
        type: heading
        level: 2
        collapsed: true
    -
        id: heading-style
        title: 标题级别
        type: class-select
        allowEmpty: false
        default: heading-indicator-auto
        options:
            -
                label: Disable
                value: .heading-indicator-disable
            -
                label: Auto Hide
                value: heading-indicator-auto
            -
                label: Fixed
                value: heading-indicator-fixed

    -
        id: callout-options
        title: Callouts
        type: heading
        level: 2
        collapsed: true
    -
        id: callout-style
        title: Callout Style
        type: class-select
        allowEmpty: false
        default: callout-normal
        options:
            -
                label: Default
                value: callout-normal
            -
                label: Bordered
                value: callout-bordered
            -
                label: Card
                value: callout-floating 
    -
        id: folder-options
        title: Folders
        type: heading
        level: 2
        collapsed: true
    -
		id: colorful-folders
		title: Colorful folders
		type: class-select
		allowEmpty: false
		default: colorful-folders-off
		options:
			-
				label: None
				value: colorful-folders-off
			-
				label: Dot
				value: colorful-folders-dot
			-
				label: Indicator
				value: colorful-folders-side
			-
				label: Frame
				value: colorful-folders-frame
			-
				label: Subtle
				value: colorful-folders-subtle
			-
				label: Strong
				value: colorful-folders-strong
			-
				label: Monochrome
				value: colorful-folders-mono
    
    -
		id: file-explorer
		type: heading
		level: 1
		collapsed: true
		title: File Explorer & Bookmarks
    -
        id: readme-content
        type: info-text
        markdown: true
        description: 🎨 Out of the box, the toggles below affect both file explorer and bookmark folders. If you'd like them to be different colors, head down over to the **Bookmarks** section, turn on `Custom Bookmarks Folders` and set your desired colors.
    -
        id: alt-folder-icons
        type: class-toggle
        title: Toggle using Folders as Collapse Indicators
        description: Use folders as collapse indicators instead of chevrons.
    -
        id: colorful-folders_text
        type: class-toggle
        title: Toggle Colored Folder Text
        description: Adds colors to the name text of the folder. When hovered, folder background is colored.
    -
        id: colorful-folders_collapse-indicator
        type: class-toggle
        title: Toggle Colored Folder Collapse Indicators
        description: Adds color to the collapse indicators of the folders.
    -
        id: colorful-folders_background
        type: class-toggle
        title: Toggle Colored Folder Backgrounds
        description: Adds background color to folders.
    -
        id: colorful-folders_indentation-guide
        type: class-toggle
        title: Toggle Colored Folder Colored Indentation Guide
        description: Colors folder's indentation guide based on parent folder's color.
    -
        id: colorful-folders_inherit-color
        type: class-toggle
        title: Toggle to Inherit Parent Folder Colors
        description: The color cycles through up to 12 colors for both top level folders and subfolders by default. If you would like subfolders to be colored based on their top level folder colors, toggle this on.
    

*/
