.theme-dark.theme-bluetopaz-dark {
  --accent-h: 208;
  --accent-s: 64%;
  --accent-l: 49%;

  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;

  --text-normal: #c6c6c6;
  --text-muted: #8a8a8a;
  --text-faint: #797979;
  --text-error: #e16d76;

  --background-primary: #202020;
  --background-primary-alt: #444444;
  --background-secondary: #151515;
  --background-secondary-alt: #000000;
  --background-modifier-border: #343434;

  --h1-color: hsl(78, 62%, 47%);
  --h2-color: hsl(118, 42%, 49%);
  --h3-color: hsl(180, 53%, 48%);
  --h4-color: hsl(216, 69%, 68%);
  --h5-color: hsl(258, 79%, 77%);
  --h6-color: hsl(290, 85%, 81%);

  --code-background: #242424;
  --code-normal: #abb2bf;
  --code-comment: #5c6370;
  --code-function: #d19a66;
  --code-important: #d19a66;
  --code-keyword: #e16d76;
  --code-property: #62afef;
  --code-punctuation: #abb2bf;
  --code-string: #58b6c2;
  --code-tag: #e16d76;
  --code-value: #c678de;

  //#2d82cd
}
