// .theme-dark {
//   --accent-h: 209.65;
//   --accent-s: 34.14%;
//   --accent-l: 51.18%;

//   // --code-normal: #abb2bf;
//   // --code-comment: #5c6370;
//   // --code-function: #d19a66;
//   // --code-important: #d19a66;
//   // --code-keyword: #e16d76;
//   // --code-property: #62afef;
//   // --code-punctuation: #abb2bf;
//   // --code-string: #58b6c2;
//   // --code-tag: #e16d76;
//   // --code-value: #c678de;

//   --link-color: hsl(183, 29%, 62%);
//   --link-color-hover: hsl(188, 36%, 72%);
//   --link-external-color: hsl(201.18, 16.67%, 64%);
//   --link-external-color-hover: hsl(208, 63%, 75%);
// }

.theme-light {
  --accent-h: 192;
  --accent-s: 100%;
  --accent-l: 32%;

  --color-red-rgb: 254, 112, 112;
  --color-orange-rgb: 242, 154, 100;
  --color-yellow-rgb: 224, 205, 99;
  --color-green-rgb: 74, 213, 95;
  --color-cyan-rgb: 56, 219, 214;
  --color-blue-rgb: 106, 173, 250;
  --color-purple-rgb: 187, 158, 245;
  --color-pink-rgb: 243, 125, 183;
  --code-normal: #383a42;
  --code-comment: #b6b9c5;
  --code-function: #b76b02;
  --code-important: #b76b02;
  --code-keyword: #e45749;
  --code-property: #62afef;
  --code-punctuation: #383a42;
  --code-string: #0d97b3;
  --code-tag: #e45749;
  --code-value: #a626a4;

  /* #6a8695 */

  --link-color: #0083a3;
  --link-color-hover: #0083a3;
  --link-external-color: hsl(258, 88%, 66%);
  --link-external-color-hover: hsl(258, 88%, 66%);
}
