.theme-dark {
  // --color-red-rgb: 209, 77, 65;
  // --color-orange-rgb: 218, 112, 44;
  // --color-yellow-rgb: 208, 162, 21;
  // --color-green-rgb: 135, 154, 57;
  // --color-cyan-rgb: 58, 169, 159;
  // --color-blue-rgb: 67, 133, 190;
  // --color-purple-rgb: 139, 126, 200;
  // --color-pink-rgb: 206, 93, 151;

  // --color-red: #d14d41;
  // --color-orange: #da702c;
  // --color-yellow: #d0a215;
  // --color-green: #879a39;
  // --color-cyan: #3aa99f;
  // --color-blue: #4385be;
  // --color-purple: #8b7ec8;
  // --color-pink: #ce5d97;

  --color-gray-rgb: 166, 150, 142;
  --color-gray: rgb(166, 150, 141);
  --color-red: #db8e88;
  --color-orange: #deaea0;
  --color-yellow: #e0bc7e;
  --color-green: #aebd9f;
  --color-cyan: #8daeb3;
  --color-blue: #9bb0bd;
  --color-purple: #c9b1b9;
  --color-pink: #c9b1b9;
  --color-red-rgb: 219, 142, 136;
  --color-orange-rgb: 222, 174, 160;
  --color-yellow-rgb: 224, 188, 126;
  --color-green-rgb: 174, 189, 159;
  --color-cyan-rgb: 141, 174, 179;
  --color-blue-rgb: 155, 176, 189;
  --color-purple-rgb: 201, 177, 185;
  --color-pink-rgb: 201, 177, 185;

  --accent-h: 175;
  --accent-s: 57%;
  --accent-l: 33%;

  --color-base-00: #100f0f;
  --color-base-05: #100f0f;
  --color-base-10: #1c1b1a;
  --color-base-20: #1c1b1a;
  --color-base-25: #282726;

  --color-base-30: #282726;
  --color-base-35: #343331;
  --color-base-40: #403e3c;

  --color-base-50: #575653;
  --color-base-60: #6f6e69;
  --color-base-70: #878580;
  --color-base-100: #cecdc3;

  --text-normal: #b7b5ac;

  --link-color: #c59b8d;
  --link-color-hover: var(--link-color);
  --link-external-color: #4ca8b4;
  --link-external-color-hover: var(--link-external-color);
}
