.theme-dark {
  --h1-color: #ff79c6;
  --h2-color: #82aaff;
  --h3-color: #c5e478;
  --h4-color: #ffb86c;
  --h5-color: #c792ea;
  --h6-color: #8be9fd;

  --color-red: #ff5555;
  --color-green: #c5e478;
  --color-orange: #ffb86c;
  --color-yellow: #ffeb95;
  --color-cyan: #8be9fd;
  --color-blue: #82aaff;
  --color-purple: #c792ea;
  --color-pink: #ff79c6;

  --color-red-rgb: 255, 85, 85;
  --color-green-rgb: 80, 250, 123;
  --color-orange-rgb: 255, 184, 108;
  --color-yellow-rgb: 255, 235, 149;
  --color-cyan-rgb: 139, 233, 253;
  --color-blue-rgb: 130, 170, 255;
  --color-purple-rgb: 189, 147, 121;
  --color-pink-rgb: 255, 121, 198;

  --accent-h: 49;
  --accent-s: 100%;
  --accent-l: 79%;

  --color-base-00: hsl(207, 95%, 8%);
  --color-base-10: hsl(206, 94%, 7%);
  --color-base-20: hsl(205, 90%, 10%);
  --color-base-25: hsl(206, 93%, 14%);
  --color-base-30: hsl(207, 47%, 21%);
  --color-base-40: hsl(205, 36%, 20%);
  --color-base-50: hsl(206, 17%, 46%);
  --color-base-60: hsl(205, 31%, 72%);
  --color-base-70: #9ca3af;
  --color-base-100: #d1d5db;

  // --text-normal: #cbe0f0;
  // --text-normal: #d1d5db;
  // #f3f4f6

  --background-primary: #011628;
  --background-primary-alt: #011c32;
  --background-secondary: #001122;
  --background-secondary-alt: #02223c;
  --background-modifier-border: #0b2942;

  --tab-stacked-shadow: 0px 1.8px 7.3px rgba(0, 0, 0, 0.271),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.312), 0px 30px 90px rgba(0, 0, 0, 0.4);

  // --text-normal: #e5e7eb;
  --text-normal: #d6deeb;
  --text-normal: #d1d5db;
  // --text-muted: #d6dedb;
  --text-faint: #9ca3af;
  --bold-color: #ecc48d;

  --link-color: #f78c6c;
  --link-color-hover: #f9a991;
  --link-external-color: #7fdbca;
  --link-external-color-hover: #7fdbca;

  --code-background: #01192d;
}

.search-result-file-title {
  font-size: 15px;
}
.search-result-file-matches,
.search-empty-state {
  font-size: var(--font-size-side-dock);
}
/*decrease the spacing between result items*/
.search-result-file-title,
.search-result-file-match {
  padding: 0px 10px;
}

.owl {
  --background-primary: hsl(207deg, 95%, 8%);
  --background-primary-alt: #011c32;
  --background-secondary: #011c32;
  --background-secondary-alt: #02223c;
  --background-accent: #f8f8f2;
  --background-modifier-border: #f8f8f2;
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #50fa7b; /*no sure*/
  --background-modifier-error: #3d0000; /*no sure*/
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #ffeb95;
  --text-accent-hover: #8be9fd;
  --text-bold-color: #50fa7b;
  --text-italic-color: #ffeb95;
  --text-italic-bold-color: #b380fb;
  --text-normal: #f8f8f2;
  --text-muted: #f8f8f2;
  --text-faint: #7fdbca;
  --text-highlight-bg: hsla(61deg, 100%, 32%, 0.8);
  --text-error: #ff79c6;
  --text-error-hover: #ff79c6;
  --text-selection: #6272a4; /* Chromium precess this color with alpha channel */
  --text-on-accent: #bd93f9;
  --interactive-normal: #ffb86c;
  --interactive-hover: #ff5555;
  --interactive-accent: #ffeb95;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #ff5555;
  --scrollbar-active-thumb-bg: #282a36;
  --scrollbar-bg: #282a36;
  --scrollbar-thumb-bg: #282a36;
  --text-title-h1: #ff79c6;
  --text-title-h2: #82aaff;
  --text-title-h3: #c5e478;
  --text-title-h4: #ffb86c;
  --text-title-h5: #50fa7b;
  --text-title-h6: #8be9fd;
  --inline-code: #bd93f9;
  --code-block: #8be9fd;
  --pre-code: #44475a;
  --blockquote-border: #ffb86c;
  --vim-cursor: #ff5555;
  --border-color: #2b2727; /*also like transparent*/
}

.aaa {
  --background-primary: #031525;
  --background-primary-alt: #031525;
  --background-secondary: #031525;
  --background-secondary-alt: #031525;
  --background-modifier-border: #1d4667;
  --border: #0b2942;
  --text-normal: #d6deeb;
  --text-bold: #ecc48d;
  --text-bold-muted: #997749;
  --text-italic: #82aaff;
  --text-italic-muted: #3a5fad;
  --text-faint: #d6deeb;
  --text-muted: #d6deeb;
  --text-accent: #f78c6c;
  --text-on-accent: #d6deeb;
  --text-error: #ff6363;
  --text-selection: #1d4667;
  --text-highlight-bg: #1d4667;
  --link: #f78c6c;
  --link-hover: #f9a991;
  --text-title-h1: #c792ea;
  --text-title-h1-muted: #7a4b99;
  --text-title-h2: #82aaff;
  --text-title-h2-muted: #3a5fad;
  --text-title-h3: #7fdbca;
  --text-title-h3-muted: #4b857a;
  --text-title-h4: #addb67;
  --text-title-h4-muted: #677e43;
  --text-title-h5: #d6deeb;
  --text-title-h5-muted: #72829b;
  --interactive-accent: #c792ea;
  --interactive-before: #1d4667;
  --button-bg: #c792ea;
  --button-text: #010e1a;
  --icon: #d6deeb;
  --icon-hover: #ecc48d;
  --tag-text: #82aaff;
  --tag-border: #82aaff;
  --setting-checkbox: #ff6363;
  --setting-checkbox-enable: #addb67;
  --setting-checkbox-thumb: #010e1a;
  --scrollbar-bg: #031525;
  --scrollbar-thumb-bg: #0b2942;
  --scrollbar-active-thumb-bg: #0b2942;
  --line-numbers: #1d4667;
  --list-mark: #82aaff;
  --task-mark: #82aaff;
  --vim-cursor: #c792ea;
  --selected-active: #0b2942;
}
