.theme-nightowl.theme-dark {
  &.colorful-headings {
    --h1-color: #ff79c6;
    --h2-color: #82aaff;
    --h3-color: #c5e478;
    --h4-color: #ffb86c;
    --h5-color: #c792ea;
    --h6-color: #8be9fd;
  }

  --color-red: #ff5555;
  --color-green: #c5e478;
  --color-orange: #ffb86c;
  --color-yellow: #ffeb95;
  --color-cyan: #8be9fd;
  --color-blue: #82aaff;
  --color-purple: #c792ea;
  --color-pink: #ff79c6;

  --color-red-rgb: 255, 85, 85;
  --color-green-rgb: 80, 250, 123;
  --color-orange-rgb: 255, 184, 108;
  --color-yellow-rgb: 255, 235, 149;
  --color-cyan-rgb: 139, 233, 253;
  --color-blue-rgb: 130, 170, 255;
  --color-purple-rgb: 189, 147, 121;
  --color-pink-rgb: 255, 121, 198;

  --accent-h: 49;
  --accent-s: 100%;
  --accent-l: 79%;

  --card-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.2);

  --color-base-00: hsl(207, 95%, 8%);
  --color-base-10: hsl(206, 94%, 7%);
  --color-base-20: hsl(206.47, 94.44%, 7.06%);
  --color-base-25: hsl(206, 93%, 14%);
  --color-base-30: hsl(207, 47%, 21%);
  --color-base-40: hsl(206, 31%, 21%);
  --color-base-50: hsl(206, 17%, 46%);
  --color-base-60: hsl(205, 31%, 72%);
  --color-base-70: #9ca3af;
  --color-base-100: #d1d5db;

  // --text-normal: #cbe0f0;
  // --text-normal: #d1d5db;
  // #f3f4f6

  --background-primary: hsl(207, 95%, 8%);
  --background-secondary: #011c32;

  --tab-stacked-shadow: 0px 1.8px 7.3px rgba(0, 0, 0, 0.271),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.312), 0px 30px 90px rgba(0, 0, 0, 0.4);

  // --text-normal: #e5e7eb;
  --text-normal: #d1d5db;
  --text-muted: #d1d5db;
  --text-faint: #9ca3af;
  --bold-color: #50fa7b;
}
