// .theme-dark {
//   color-scheme: dark;

//   // --accent-h: 175;
//   // --accent-s: 28%;
//   // --accent-l: 50%;

//   --color-base-00: #191724;
//   --color-base-05: #1f1d2e;
//   --color-base-10: #26233a;
//   --color-base-20: #232136;
//   --color-base-25: #2a273f;
//   --color-base-30: #393552;
//   --color-base-35: #575279;
//   --color-base-40: #56526e;
//   --color-base-50: #6e6a86;
//   --color-base-60: #56526e;
//   --color-base-70: #797593;
//   --color-base-100: #e0def4;

//   --color-orange: #ea9d34;
//   --color-pink: #ea9a97;
//   --color-blue: #56949f;
//   --color-cyan: #31748f;
//   --color-green: #9ccfd8;
//   --color-red: #eb6f92;
//   --color-yellow: #f6c177;
//   --color-purple: #c4a7e7;

//   --color-red-rgb: 220, 49, 46;
//   --color-orange-rgb: 202, 76, 22;
//   --color-yellow-rgb: 179, 134, 0;
//   --color-green-rgb: 133, 153, 0;
//   --color-cyan-rgb: 42, 162, 152;
//   --color-blue-rgb: 39, 139, 211;
//   --color-purple-rgb: 109, 114, 197;
//   --color-pink-rgb: 211, 54, 130;
// }

// .theme-dark {
// 	  --background-primary: #232136;
// 	  --background-primary-alt: #2a273f;
// 	  --background-secondary: #312f44;
// 	  --background-secondary-alt: #393552;
// 	  --background-accent: #232136;
// 	  --background-modifier-border: #e0def4;
// 	  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
// 	  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
// 	  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
// 	  --background-modifier-success: #3e8fb0;

// 	  --background-modifier-error: #eb6f92;

// 	  --background-modifier-error-rgb: 61, 0, 0;
// 	  --background-modifier-error-hover: #eb6f92;
// 	  --background-modifier-cover: rgba(0, 0, 0, 0.6);
// 	  --text-accent: #c4a7e7;
// 	  --text-accent-hover: #9ccfd8;
// 	  --text-normal: #e0def4;
// 	  --text-muted: #e0def4;
// 	  --text-faint: #eb6f92;
// 	  --text-highlight-bg: #312f44;
// 	  --text-error: #eb6f92;
// 	  --text-error-hover: #eb6f92;
// 	  --text-selection: #6272a4;

// 	  --text-on-accent: #c4a7e7;
// 	  --interactive-normal: #f6c177;
// 	  --interactive-hover: #ea9a97;
// 	  --interactive-accent: #f6c177;
// 	  --interactive-accent-rgb: 123, 108, 217;
// 	  --interactive-accent-hover: #ea9a97;
// 	  --scrollbar-active-thumb-bg: #232136;
// 	  --scrollbar-bg: #232136;
// 	  --scrollbar-thumb-bg: #232136;

// 	  --text-title-h1: #eb6f92;
// 	  --text-title-h2: #c4a7e7;
// 	  --text-title-h3: #ea9a97;
// 	  --text-title-h4: #f6c177;
// 	  --text-title-h5: #3e8fb0;
// 	  --text-title-h6: #9ccfd8;
// 	  --inline-code: #c4a7e7;
// 	  --code-block: #9ccfd8;
// 	  --pre-code: #312f44;
// 	  --blockquote-border: #eb6f92;
// 	  --vim-cursor: #ea9a97;
// 	  --border-color: #2b2727;

// 	}

.theme-dark.rose-moon {
  --rp-base: #232136;
  --rp-surface: #2a273f;
  --rp-overlay: #393552;
  --rp-muted: #6e6a86;
  --rp-subtle: #908caa;
  --rp-text: #e0def4;
  --rp-love: #eb6f92;
  --rp-gold: #f6c177;
  --rp-rose: #ea9a97;
  --rp-iris: #c4a7e7;
  --rp-pine: #3e8fb0;
  --rp-foam: #9ccfd8;
  --rp-highlightLow: #2a283e;
  --rp-highlightMed: #44415a;
  --rp-highlightHigh: #56526e;
}
.theme-dark,
.theme-dark.rose-norm {
  --rp-base: #191724;
  --rp-surface: #1f1d2e;
  --rp-overlay: #26233a;
  --rp-muted: #6e6a86;
  --rp-subtle: #908caa;
  --rp-text: #e0def4;
  --rp-love: #eb6f92;
  --rp-gold: #f6c177;
  --rp-rose: #ebbcba;
  --rp-iris: #c4a7e7;
  --rp-pine: #31748f;
  --rp-foam: #9ccfd8;
  --rp-highlightLow: #21202e;
  --rp-highlightMed: #403d52;
  --rp-highlightHigh: #524f67;
}
.theme-light,
.theme-dark {
  --background-primary: #191724;
  --background-primary-alt: var(--rp-base);
  --background-secondary: var(--rp-base);
  --background-secondary-alt: var(--rp-base);
  --background-accent: var(--rp-base);
  --background-modifier-border: var(--rp-highlightMed);
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: var(--rp-pine);
  --background-modifier-error: var(--rp-love);
  --background-modifier-error-hover: var(--rp-love);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: var(--rp-accent);
  --text-accent-hover: var(--rp-accent);
  --text-normal: var(--rp-text);
  --text-muted: var(--rp-muted);
  --text-faint: var(--rp-accent);
  --text-highlight-bg: var(--rp-highlight);
  --text-error: var(--rp-love);
  --text-error-hover: var(--rp-love);
  --text-selection: var(--rp-highlightHigh);
  --text-on-accent: var(--rp-accent);
  --interactive-normal: var(--rp-overlay);
  --interactive-hover: var(--rp-highlightLow);
  --interactive-accent: var(--rp-highlightLow);
  --interactive-accent-active: var(--rp-highlightMed);
  --interactive-accent-hover: var(--rp-highlightMed);
  --scrollbar-active-thumb-bg: var(--rp-overlay);
  --scrollbar-bg: var(--rp-overlay);
  --scrollbar-thumb-bg: var(--rp-overlay);
  --rp-h1: var(--rp-love);
  --rp-h2: var(--rp-iris);
  --rp-h3: var(--rp-rose);
  --rp-h4: var(--rp-gold);
  --rp-h5: var(--rp-foam);
  --rp-h6: var(--rp-pine);
  --rp-accent: var(--rp-iris);
  --inline-code: var(--rp-iris);
  --code-block: var(--rp-foam);
  --pre-code: var(--rp-highlightLow);
  --blockquote-border: var(--rp-love);
  --vim-cursor: var(--rp-rose);
  --border-color: var(--rp-highlightMed);
  --font-monospace: var(--font-family-code);
}
