.theme-dark {
  --background-primary: #4a4745;
  --background-primary-alt: #221e1a;
  --background-secondary: #2a2520;
  --background-secondary-alt: #2a2520;
  --text-normal: #ebe7e1;
  --text-muted: #d4cec7;
  --text-faint: #6b6158;
}
