/* 代码提取自主题 Baseline */

/* 基础图标样式 */
.modal.mod-settings .vertical-tab-nav-item .vertical-tab-nav-item-icon {
  --icon-size: var(--icon-xs);
  padding: 4px;
  border-radius: 6px;
  color: var(--setting-nav-icon-color, var(--color-base-00));
  box-shadow:
    inset 0.5px 0.5px 0.5px hsla(0, 0%, 100%, 0.25),
    inset -0.5px -0.5px 0.5px hsla(0, 0%, 100%, 0.25),
    0 0 2px rgba(0, 0, 0, 0.25),
    0 1px 4px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(rgba(255, 255, 255, 0.25), transparent);
  background-color: var(--setting-nav-icon-background, var(--color-base-60));
}

.mod-left-split
  .workspace-tab-header-container
  .workspace-tab-header.has-active-menu,
.mod-right-split
  .workspace-tab-header-container
  .workspace-tab-header.has-active-menu,
.mod-left-split .workspace-tab-header-container .workspace-tab-header,
.mod-right-split .workspace-tab-header-container .workspace-tab-header {
  &.is-active,
  &:hover {
    /* background-color: transparent; */
    --tab-text-color-focused-active-current: var(--color-base-100);
    --icon-size: var(--icon-xs);
    border-radius: 6px;
    color: var(--setting-nav-icon-color, var(--color-base-100)) !important;
    box-shadow:
      inset 0.5px 0.5px 0.5px hsla(0, 0%, 100%, 0.25),
      inset -0.5px -0.5px 0.5px hsla(0, 0%, 100%, 0.25),
      0 0 2px rgba(0, 0, 0, 0.25),
      0 1px 4px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), transparent);
    background-color: var(
      --setting-nav-icon-background,
      var(--background-primary)
    );
  }
}

body:not(.is-mobile).settings-rain-icon {
  .workspace-tab-header-container-inner {
    > div.workspace-tab-header:nth-child(6n + 1) {
      &.is-active,
      &:hover {
        --setting-nav-icon-background: rgb(
          var(--color-red-rgb),
          var(--icon-background-opacity)
        );
      }
    }

    > div.workspace-tab-header:nth-child(6n + 2) {
      &.is-active,
      &:hover {
        --setting-nav-icon-background: rgb(
          var(--color-orange-rgb),
          var(--icon-background-opacity)
        );
      }
    }

    > div.workspace-tab-header:nth-child(6n + 3) {
      &.is-active,
      &:hover {
        --setting-nav-icon-background: rgb(
          var(--color-green-rgb),
          var(--icon-background-opacity)
        );
      }
    }

    > div.workspace-tab-header:nth-child(6n + 4) {
      &.is-active,
      &:hover {
        --setting-nav-icon-background: rgb(
          var(--color-blue-rgb),
          var(--icon-background-opacity)
        );
      }
    }

    > div.workspace-tab-header:nth-child(6n + 5) {
      &.is-active,
      &:hover {
        --setting-nav-icon-background: rgb(
          var(--color-purple-rgb),
          var(--icon-background-opacity)
        );
      }
    }

    > div.workspace-tab-header:nth-child(6n + 6) {
      &.is-active,
      &:hover {
        --setting-nav-icon-background: rgb(
          var(--color-pink-rgb),
          var(--icon-background-opacity)
        );
      }
    }
  }
}

/* Cupertino 和 Material 风格共用的设置项颜色 */
.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="editor"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-blue);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="mobile"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-red);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="file"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-orange);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="appearance"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-accent);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="hotkeys"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-pink);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="keychain"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-green);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="plugins"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-cyan);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="community-plugins"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-purple);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="backlink"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-purple);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="canvas"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-red);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="daily-notes"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-red);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="file-recovery"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-green);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="note-composer"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-cyan);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="page-preview"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-blue);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="switcher"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-purple);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="sync"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-green);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="templates"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-blue);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="zk-prefixer"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-orange);
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="webviewer"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: var(--color-blue);
}

/* 仅 Cupertino 风格的特殊设置项颜色 */
.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="canvas"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-color: var(--color-red);
  --setting-nav-icon-background: #eee;
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="command-palette"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-background: #111;
  --setting-nav-icon-color: #eee;
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="sync"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-color: var(--color-green);
  --setting-nav-icon-background: #eee;
}

.modal.mod-settings
  .vertical-tab-nav-item[data-setting-id="webviewer"]
  .vertical-tab-nav-item-icon {
  --setting-nav-icon-color: var(--color-blue);
  --setting-nav-icon-background: #eee;
}
