body {
  --default-text-color: #d0d0d0;
  --highlight: #fff;
  --shadow: #0b0c2c;

  --nav-item-weight-hover: bold;
}
.theme-light {

  --red: #e22c3c; 
  --red-orange: #e9404b; 
  --orange: #ee6748; 
  --amber: #fa9f50; 
  --yellow: #ffd85e; 
  --lime: #97e768; 
  --mint: #52eea3;
  --cyan: #51e1e9;
  --cool-cyan: #43cfea; 
  --light-blue: #54b6f8
  --blue: #437cf3;
  --blue-violet: #6f51f4; 
  --violet: #9446f8;
  --purple: #c952ed;
  --magenta: #e54f9b;
  --hot-red: #e3365e;
  --cool-gray: #515768;

  --contrast-color: var(--shadow);
  --default-text-color: var(--shadow);
  --bg-contrast-amount: 70%;
  --fg-contrast-amount: 30%;
  --medium-contrast-amount: 60%;
  --active-contrast-amount: 30%;

  /* Darker Versions of Bright Colors for Light Theme */
  --yellow: color-mix(in srgb, #ffd85e 90%, var(--shadow));
  --lime: color-mix(in srgb, #97e768 90%, var(--shadow));
  --mint: color-mix(in srgb, #52eea3 85%, var(--shadow));
  --cyan: color-mix(in srgb, #51e1e9 85%, var(--shadow));
  --cool-cyan: color-mix(in srgb, #43cfea 85%, var(--shadow));
  --light-blue: color-mix(in srgb, #54b6f8 90%, var(--shadow));

}
.theme-dark {
  --contrast-color: var(--highlight);
  --bg-contrast-amount: 15%;
  --fg-contrast-amount: 40%;
  --medium-contrast-amount: 20%;
  --active-contrast-amount: 10%;

  --rainbow-1: #94e2d5;
  --rainbow-2: #89dce8;
  --rainbow-3: #74c7ec;
  --rainbow-4: #87b0f9;
  --rainbow-5: #b4befe;
  --rainbow-6: #cba6f7;
  --rainbow-7: #f5c2e7;
  --rainbow-8: #f38ba8;
}

/* All Folder Titles */
.nav-folder-title {
  font-weight: bold;
  border-radius: 5px;
}

/* Narrower Padding on Desktop*/
@media only screen and (min-width: 768px) {
  .nav-file-title,
  .nav-folder-title {
    /* padding: 3px 5px 2px 4px !important; */
    padding-top: 3px !important;
    padding-right: 5px !important;
    padding-bottom: 2px !important;
    padding-left: 15px;
  }
}

$nav-colors: (
  // "00-": var(--rainbow-1),
  // "10-": var(--rainbow-2),
  // "20-": var(--rainbow-3),
  // "30-": var(--rainbow-4),
  // "40-": var(--rainbow-5),
  // "50-": var(--rainbow-6),
  // "90-": var(--rainbow-7),
  // "Canvas": var(--rainbow-8),

  // "00-": var(--color-red),
  // "10-": var(--color-orange),
  // "20-": var(--color-yellow),
  // "30-": var(--color-green),
  // "40-": var(--color-cyan),
  // "50-": var(--color-blue),
  // "90-": var(--color-purple)


  "00-": var(--color-purple),
  "10-": var(--color-blue),
  "20-": var(--color-cyan),
  "30-": var(--color-green),
  "40-": var(--color-yellow),
  "50-": var(--color-orange),
  "90-": var(--color-red)
);

@each $prefix, $color in $nav-colors {
  // 一级文件夹标题样式
  .nav-folder-title[data-path^="#{$prefix}"] {
    color: #{$color} !important;

    --nav-item-color-hover: color-mix(
      in srgb,
      #{$color} var(--fg-contrast-amount),
      var(--contrast-color)
    );
    --nav-item-background-hover: color-mix(
      in srgb,
      #{$color} var(--bg-contrast-amount),
      transparent
    );
    --background-modifier-border-focus: color-mix(
      in srgb,
      #{$color} 40%,
      transparent
    );
    --nav-collapse-icon-color: color-mix(in srgb, #{$color} 60%, transparent);
  }

  // 悬浮时图标颜色
  .nav-folder-title[data-path^="#{$prefix}"]:hover {
    --nav-collapse-icon-color: color-mix(
      in srgb,
      #{$color} 60%,
      var(--contrast-color)
    );
  }

  // 文件夹缩进线
  .tree-item-children
    .nav-folder:has(.nav-folder-title[data-path^="#{$prefix}"]) {
    --nav-indentation-guide-color: color-mix(
      in srgb,
      #{$color} var(--medium-contrast-amount),
      transparent
    );
  }

  // 子文件标题样式
  .tree-item-children
    .nav-folder:has(.nav-folder-title[data-path^="#{$prefix}"])
    .nav-file-title {
    color: color-mix(
      in srgb,
      #{$color} var(--medium-contrast-amount),
      var(--default-text-color)
    );

    --nav-item-background-hover: color-mix(
      in srgb,
      color-mix(in srgb, #{$color} 50%, var(--highlight))
        var(--bg-contrast-amount),
      transparent
    );
    --background-modifier-border-focus: color-mix(
      in srgb,
      #{$color} 40%,
      transparent
    );
    --nav-item-background-active: color-mix(
      in srgb,
      #{$color} var(--active-contrast-amount),
      transparent
    );
  }
}
